:root {
    --bg: rgba(250, 250, 250, 1);
    --dark-screen: rgba(7, 7, 7, 1);
    --sub-text-dark-screen: rgba(230, 230, 230, 1);
    --subtext-main-text: rgba(188, 188, 188, 1);
    --secondarysecondary-50: rgba(244, 253, 244, 1);
    --secondarysecondary-100: rgba(221, 250, 221, 1);
    --secondarysecondary-200: rgba(204, 247, 204, 1);
    --secondarysecondary-300: rgba(181, 244, 181, 1);
    --secondarysecondary-400: rgba(166, 241, 166, 1);
    --secondarysecondary-500: rgba(144, 238, 144, 1);
    --secondarysecondary-600: rgba(255, 0, 0, 1);
    --secondarysecondary-700: rgba(102, 169, 102, 1);
    --successsuccess-50: rgba(232, 246, 237, 1);
    --successsuccess-100: rgba(182, 227, 200, 1);
    --successsuccess-200: rgba(147, 213, 173, 1);
    --successsuccess-300: rgba(98, 194, 136, 1);
    --successsuccess-400: rgba(67, 182, 113, 1);
    --successsuccess-500: rgba(20, 164, 77, 1);
    --successsuccess-600: rgba(18, 149, 70, 1);
    --successsuccess-700: rgba(14, 116, 55, 1);
    --successsuccess-800: rgba(11, 90, 42, 1);
    --warningwarning-50: rgba(252, 246, 232, 1);
    --warningwarning-100: rgba(247, 226, 184, 1);
    --warningwarning-200: rgba(243, 212, 150, 1);
    --warningwarning-300: rgba(237, 192, 102, 1);
    --warningwarning-400: rgba(233, 180, 73, 1);
    --warningwarning-500: rgba(228, 161, 27, 1);
    --warningwarning-600: rgba(207, 147, 25, 1);
    --warningwarning-700: rgba(162, 114, 19, 1);
    --alertalert-50: rgba(252, 237, 240, 1);
    --alertalert-100: rgba(244, 200, 207, 1);
    --alertalert-200: rgba(239, 173, 184, 1);
    --alertalert-300: rgba(232, 135, 151, 1);
    --alertalert-400: rgba(227, 112, 131, 1);
    --alertalert-500: rgba(220, 76, 100, 1);
    --alertalert-600: rgba(200, 69, 91, 1);
    --alertalert-700: rgba(156, 54, 71, 1);
    --texttext-50: rgba(238, 238, 238, 1);
    --texttext-100: rgba(203, 203, 203, 1);
    --texttext-200: rgba(178, 178, 178, 1);
    --texttext-300: rgba(143, 142, 142, 1);
    --texttext-400: rgba(121, 121, 121, 1);
    --texttext-500: rgba(88, 87, 87, 1);
    --darkdark-50: rgba(233, 233, 233, 1);
    --darkdark-100: rgba(186, 186, 186, 1);
    --darkdark-200: rgba(153, 153, 153, 1);
    --darkdark-300: rgba(107, 107, 107, 1);
    --darkdark-500: rgba(34, 34, 34, 1);
    --darkdark-900: rgba(14, 14, 14, 1);
    --whitewhite-200: rgba(255, 255, 255, 1);
    --whitewhite-500: rgba(246, 246, 246, 1);
    --primary-12: rgba(20, 9, 43, 1);
    --primary-11: rgba(33, 16, 72, 1);
    --primary-10: rgba(50, 24, 109, 1);
    --primary-09: rgba(66, 31, 145, 1);
    --primary-08: rgba(83, 39, 181, 1);
    --primary-07: rgba(99, 47, 217, 1);
    --primary-06: rgba(99, 47, 217, 1);
    --primary-05: rgba(125, 82, 223, 1);
    --primary-04: rgba(151, 116, 230, 1);
    --primary-03: rgba(177, 151, 236, 1);
    --primary-02: rgba(203, 186, 242, 1);
    --primary-01: rgba(224, 213, 247, 1);
    --h2-font-family: "Poppins-SemiBold", Helvetica;
    --h2-font-weight: 600;
    --h2-font-size: 40px;
    --h2-letter-spacing: 0px;
    --h2-line-height: 120.00000476837158%;
    --h2-font-style: normal;
    --h1-font-family: "Poppins-SemiBold", Helvetica;
    --h1-font-weight: 600;
    --h1-font-size: 48px;
    --h1-letter-spacing: 0px;
    --h1-line-height: 120.00000476837158%;
    --h1-font-style: normal;
    --h3-font-family: "Poppins-SemiBold", Helvetica;
    --h3-font-weight: 600;
    --h3-font-size: 33px;
    --h3-letter-spacing: 0px;
    --h3-line-height: 120.00000476837158%;
    --h3-font-style: normal;
    --h4-font-family: "Poppins-SemiBold", Helvetica;
    --h4-font-weight: 600;
    --h4-font-size: 28px;
    --h4-letter-spacing: 0px;
    --h4-line-height: 120.00000476837158%;
    --h4-font-style: normal;
    --h5-font-family: "Poppins-SemiBold", Helvetica;
    --h5-font-weight: 600;
    --h5-font-size: 23px;
    --h5-letter-spacing: 0px;
    --h5-line-height: 120.00000476837158%;
    --h5-font-style: normal;
    --h6-font-family: "Poppins-SemiBold", Helvetica;
    --h6-font-weight: 600;
    --h6-font-size: 19px;
    --h6-letter-spacing: 0px;
    --h6-line-height: 120.00000476837158%;
    --h6-font-style: normal;
    --body-font-family: "Poppins-Regular", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 16px;
    --body-letter-spacing: 0px;
    --body-line-height: 120.00000476837158%;
    --body-font-style: normal;
    --body-bold-font-family: "Poppins-SemiBold", Helvetica;
    --body-bold-font-weight: 600;
    --body-bold-font-size: 16px;
    --body-bold-letter-spacing: 0px;
    --body-bold-line-height: 120.00000476837158%;
    --body-bold-font-style: normal;
    --caption-font-family: "Poppins-Regular", Helvetica;
    --caption-font-weight: 400;
    --caption-font-size: 13px;
    --caption-letter-spacing: 0px;
    --caption-line-height: 120.00000476837158%;
    --caption-font-style: normal;
    --caption-bold-font-family: "Poppins-SemiBold", Helvetica;
    --caption-bold-font-weight: 600;
    --caption-bold-font-size: 13px;
    --caption-bold-letter-spacing: 0px;
    --caption-bold-line-height: 120.00000476837158%;
    --caption-bold-font-style: normal;
    --small-font-family: "Montserrat-Regular", Helvetica;
    --small-font-weight: 400;
    --small-font-size: 11px;
    --small-letter-spacing: 0px;
    --small-line-height: 120.00000476837158%;
    --small-font-style: normal;
    --small-bold-font-family: "Poppins-SemiBold", Helvetica;
    --small-bold-font-weight: 600;
    --small-bold-font-size: 11px;
    --small-bold-letter-spacing: 0px;
    --small-bold-line-height: 120.00000476837158%;
    --small-bold-font-style: normal;
    --smaller-font-family: "Poppins-Regular", Helvetica;
    --smaller-font-weight: 400;
    --smaller-font-size: 9px;
    --smaller-letter-spacing: 0px;
    --smaller-line-height: 120.00000476837158%;
    --smaller-font-style: normal;
    --smaller-bold-font-family: "Poppins-SemiBold", Helvetica;
    --smaller-bold-font-weight: 600;
    --smaller-bold-font-size: 9px;
    --smaller-bold-letter-spacing: 0px;
    --smaller-bold-line-height: 120.00000476837158%;
    --smaller-bold-font-style: normal;
    --low-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
    --quick-action-shadows: 2.5px 2.5px 0px 0px rgba(143, 106, 228, 1);
  }
  
  